---
layout: default
extrajs:
- /js/shopify.js

theme: theme-yellow

products:
  - title: Software
    subTitle: Price is for a 1-year commercial license
    items:
      - name: Nengo complete bundle
        id: 4437117337643
        bundles:
          - id: 4437117337643
            text: 1 license
          - id: 6894217265195
            text: 2 licenses
          - id: 6894222540843
            text: 5 licenses
          - text: >
              For more than 5 licenses, please contact<br>
              <a href="mailto:sales@appliedbrainresearch.com">
                sales@appliedbrainresearch.com
              </a>

      - name: Brain Board bitstream
        id: 6892042485803

      - name: Brain Board bitstream (academic)
        id: 7001826918443

  - title: Hardware
    items:
      - name: Time Series Processor chip
        override: >
          Limited quantities available in 2023. Please contact<br>
          <a href="mailto:sales@appliedbrainresearch.com">
            sales@appliedbrainresearch.com
          </a>

  - title: Algorithms
    subTitle: Price is for a 1-year commercial license for 1 processor
    items:
      - name: Legendre Memory Units
        id: 4437120909355

      - name: Adaptive Controller
        id: 6892043141163

      - name: Semantic, Time and Spatial Semantic Pointers
        id: 6892043501611

support:
  - name: Free community support
    intro: >
      The ABR support team constantly monitors the Nengo forum,
      and will respond to questions about any of our products.
      Questions and answers are open to everyone in the community.
    features:
      - Always free
      - Always available
      - User-friendly searchable archive
    btns:
      - text: Visit the forum
        url: https://forum.nengo.ai/

  - name: Talk to our support team
    intro: >
      If your question is more complex or cannot be asked publicly,
      you can talk to a member of the ABR support team one-on-one.
      Each support ticket includes:
    features:
      - Initial contact within 24 hours
      - Service via voice or email
    btns:
      - text: 1 ticket
        id: 4437144633387
      - text: 5 tickets
        id: 4465741332523
      - text: 10 tickets
        id: 4465742381099

  - name: Enterprise-level support
    intro: >
      For complex deployments and mission-critical models,
      develop an ongoing relationship with the ABR support team.
    features:
      - Single point-of-contact for continuity across incidents
      - Flexible pricing based on your business needs
    btns:
      - text: Contact sales
        url: mailto:sales@appliedbrainresearch.com?subject=Enterprise-level support inquiry
---

<style>
  div.starburst {
    background: rgb(212, 110, 125);
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1.25em;
    left: -1.25em;
    z-index: 1;
  }

  div.starburst:before,
  div.starburst:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 2.5em;
    background: inherit;
    z-index: -1;
    transform: rotate(30deg);
  }

  div.starburst:after {
    transform: rotate(-30deg);
  }
</style>

<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
  })();
  /*]]>*/
</script>

<div class="main-content gradient-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-8 col-xl-7 text-center py-5">
        <h1 class="display-4">Store</h1>
        <p class="lead m-0">From research to application</p>
        <div class="title-bar"></div>
      </div>
    </div>

    <div class="shopify-product-group">
      <div class="row justify-content-center">
        <div class="col-11 my-3 my-lg-0 shadow-lg bg-white">
          <div class="starburst">New!</div>
          <div class="row py-3 px-2">
            <div class="col-12 col-lg-5">
              <div class="row justify-content-center">
                <iframe
                  width="100%"
                  height="280"
                  src="https://www.youtube-nocookie.com/embed/pd0mjci7Jds?modestbranding=1"
                  title="Introducing NengoEdge"
                  frameborder="0"
                  allow="clipboard-write; encrypted-media; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div class="col-12 col-lg-7 store-cta">
              <p>
                <strong>
                  NengoEdge lets you build highly optimized, low-power AI systems
                  targeting edge hardware in a user-friendly cloud platform.
                </strong>
                NengoEdge is ABR's latest product that is currently in
                the beta testing stage. Bring your own data and
                leverage the power of LMUs to solve challenging time
                series problems with AI solutions optimized
                specifically for your desired deployment
                device. NengoEdge targets a wide variety of low-power
                GPUs, CPUs, TPUs and MCUs.
              </p>
              <p>
                We are looking for people who are building keyword
                spotting solutions, or addressing similarly sized time
                series problems, in low-power environments. Beta users
                will get access to NengoEdge and a $100 USD credit in
                return for their feedback. If you're interested in
                becoming an beta user, please email us through the
                link below and tell us why you're interested in trying
                NengoEdge.
              </p>
            </div>
            <a
              class="mt-3 btn btn-block btn-secondary text-white"
              target="_blank"
              href="mailto:sales@appliedbrainresearch.com?subject=NengoEdge beta application"
            >
              Apply to be a beta user
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="shopify-product-group">
      <table class="shopify-products">
        <tbody>
          {% for group in page.products %}
          <tr>
            <th colspan="2">
              <h3>
                {{ group.title }}
                {% if group.subTitle %}
                <small>{{ group.subTitle }}</small>
                {% endif %}
              </h3>
            </th>
          </tr>
          {% for item in group.items %}
          {% if item.override %}
          <tr class="shopify-disabled">
            <td>
              <div>{{ item.name }}</div>
            </td>
            <td>
              <span>{{ item.override }}</span>
            </td>
          </tr>
          {% else %}
          <tr>
            <td>
              <div
                class="shopify-product"
                data-productid="{{ item.id }}"
                data-productname="{{ item.name }}"
              ></div>
            </td>
            <td>
              {% if item.bundles %}
              {% for bundle in item.bundles %}
              <div class="shopify-bundle">
                <span>{{ bundle.text }}</span>
                {% if bundle.id %}
                <span class="shopify-product" data-productid="{{ bundle.id }}"></span>
                {% endif %}
              </div>
              {% endfor %}
              {% else %}
              <span class="shopify-product" data-productid="{{ item.id }}"></span>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="shopify-product-group shopify-support-container">
      <div class="row justify-content-center">
        {% for item in page.support %}
        {% if forloop.first == true %}
        <div class="col-10 col-lg-3 my-3 my-lg-0 shadow-lg bg-white">
        {% else %}
        <div class="col-10 col-lg-3 offset-lg-1 my-3 my-lg-0 shadow-lg bg-white">
        {% endif %}
          <div class="py-1 px-2 border-bottom border-light">
            <h5 class="text-center m-0 py-3">{{ item.name }}</h5>
          </div>
          <div class="py-3 px-2 shopify-support-group">
            <p>{{ item.intro }}</p>
            <ul>
              {% for feature in item.features %}
              <li>{{ feature }}</li>
              {% endfor %}
            </ul>
            {% for btn in item.btns %} {% if btn.id %}
            <div
              class="shopify-support shopify-support-{{ btn.id }}"
              data-supportid="{{ btn.id }}"
              data-supportname="{{ btn.text }}"
            ></div>
            {% else %}
            <a
              class="btn btn-block btn-secondary text-white"
              target="_blank"
              href="{{ btn.url }}"
              >{{ btn.text }}</a
            >
            {% endif %} {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div>
      <div class="row justify-content-center disclaimers">
        <div class="col-12">
          <a
            href="#"
            class="collapsed dropdown-toggle"
            data-toggle="collapse"
            data-target="#export-control"
          >
            Export control disclaimer
          </a>
          <p id="export-control" class="collapse"><small>
            Some products, for some uses, by some customers, may fall
            are under various export control and/or restriction
            statutes and/or regulations and therefore may either be
            barred from sale under such circumstances, or require that
            export and/or import permits be obtained from the relevant
            jurisdictions. In such cases, ABR will notify you after
            you complete the payment process, and either promptly
            refund your full purchase price and cancel your order or,
            if possible, work with you to obtain the required
            approvals.
          </small></p>
        </div>
      </div>
    </div>

  </div>
</div>
