.MathJax .mi, .MathJax .mo {
    color: inherit;
}

.project {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
}

.project:last-child {
    margin-bottom: 0;
}

.project p {
    margin-bottom: 4px;
    margin-top: 3px;
}

.project strong {
    font-size: 120%;
}

.project-info strong a.external {
    color: #333;
}

.project-info {
    display: inline-block;
    width: 340px;
}

.project-maintainer {
    font-size: 80%;
}

.project-maintainer img {
    vertical-align: text-bottom;
}

.project-badges img {
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 2px;
}

.project-description {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 350px);
}

img.float-right {
    float: right;
    margin-left: 6px;
    margin-bottom: 6px;
}
