hr.index-spacer {
    clear: both;
}

.project-maintainer img {
    vertical-align: text-top;
}

#index .col-md-4,
#overview .col-md-4,
#projects .col-md-4 {
    width: 20%;
}

#index .col-md-8 .wrapper-content-right,
#overview .col-md-8 .wrapper-content-right,
#projects .col-md-8 .wrapper-content-right {
    width: 90%;
}

#index ul>li {
    font-size: px;
}

#index p {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 24px;
    line-height: 1.5em;
}

#index.row {
    background-image: url(https://appliedbrainresearch.com/img/brain.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 900px;
}

#index.row h1 {
    margin-top: 460px;
    white-space: nowrap;
}

@media screen and (max-width: 680px) {
    #index.row h1 {
        margin-top: 420px;
        white-space: normal;
    }
}

@media screen and (max-width: 484px) {
    #index.row h1 {
        font-size: 40px;
    }
}

#index.row .line-block:first-child {
    margin-top: 70px;
    font-size: 200%;
    color: #2e4559;
}


.wrapper-content-right .section td a img {
    margin-bottom: 0px;
}

.wrapper-content-right .section tr:first-child td {
    border-top: 1px solid #aaa;
}
